#!/bin/bash

## virtualbox vm
vbox_vm() {
    local full="1920x1080"
    local normal="1280x720"
    local screen=`xrandr | grep primary | awk '{print $1}'`
    local flag=`xrandr | grep primary | grep -c $full`

    if [ -z "$flag" ]; then
        xrandr --output $screen --mode "$normal"
    fi

    VBoxClient-all
}

vbox_vm
