#!/bin/bash
#set -x

### keep in mind this file in unix format
### $ dos2unix .xprofile

## virtualbox guest
## sudo pacman -S virtualbox-guest-utils
vbox_vm() {
    local full="1920x1080"
    local normal="1280x720"
    local screen=`xrandr | grep primary | awk '{print $1}'`
    local flag=`xrandr | grep primary | grep -c $full`

    if [ -z "$flag" ]; then
        xrandr --output $screen --mode "$normal"
    fi

    VBoxClient-all
}

## laptop multi-screen
multi_screen() {
    local laptop="eDP-1"
    local laptop_flag=`xrandr | grep "^$laptop" | awk '{print $2}'`
    local ext="DP-1"
    local ext_flag=`xrandr | grep "^$ext" | awk '{print $2}'`
    local size="1920x1080"

    if [ "$laptop_flag" = "connected" ]; then
        xrandr --output $laptop --primary
    fi

    if [ "$ext_flag" = "connected" ]; then
        xrandr --output $ext --same-as $laptop --mode "$size"
    fi
}

laptop_keyboard() {
    local hyper_bin=~/zzstumpwm/bin/hyper.sh
    if [ -x $hyper_bin ]; then
        $hyper_bin laptop
    fi
}

#vbox_vm
#multi_screen
#laptop_keyboard
