#!/bin/bash
#set -x

# get script path
script_path() {
    SOURCE=${BASH_SOURCE[0]}
    DIR=$(dirname "$SOURCE")
    while [ -h "$SOURCE" ]
    do
        SOURCE=$(readlink "$SOURCE")
        [[ $SOURCE != /* ]] && SOURCE="$DIR/$SOURCE"
        DIR=$( cd -P "$(dirname "$SOURCE")" && pwd)
    done
    DIR=$(cd -P "$(dirname "$SOURCE")" && pwd)
    echo $DIR
}

# run script
for i in $(script_path)/.xprofile.d/*.sh ; do
    if [ -x "$i" ]; then
        $i
    fi
done

unset script_path
