!For Zachary Zhou on Linux
!~/.Xresources
!xrdb ~/.Xresources
!english using default font, chinese using WenQuanYi Zen Hei resolution 1280x800

!look and feel
xterm.termName: xterm-256color
xterm.geometry: 80x36
xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*loginshell: true
xterm*cursorBlink: true
xterm*background:   black
xterm*foreground:   gray
xterm.borderLess: true
xterm.cursorBlink: true
xterm*colorUL: yellow
xterm*colorBD: white

!font and locale
xterm*locale: true
xterm.utf8:     true
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default
xterm*faceName:Monospace:antialias=True:pixelsize=14
xterm*boldFont:Sans:style=Bold:pixelsize=13
xterm*faceNameDoublesize:WenQuanYi Zen Hei:antialias=True:pixelsize=13
xterm*xftAntialias: true
xterm.cjkWidth:true
XTerm*preeditType: Root

