!!!For Zachary Zhou on Linux
!!~/.Xresources
!!xrdb -load .Xresources
!!xrdb -merge .Xresources

!! xterm set
XTerm*locale: true
XTerm*utf8Title: true
XTerm*fontMenu*fontdefault*Label: Default
XTerm*faceName: Lucida Console
XTerm*faceNameDoublesize: LiHei Pro
XTerm*faceSize: 10
XTerm*faceSize1: 10
XTerm*faceSize2: 10
XTerm*faceSize3: 10
XTerm*faceSize4: 10
XTerm*faceSize5: 10
XTerm*faceSize6: 10
XTerm.cjkWidth: true
XTerm*background: black
XTerm*foreground: white
XTerm*scrollBar: false
XTerm*rightScrollBar: true
XTerm*jumpScroll: true
XTerm*SaveLines: 1000

!! rxvt-unicode configuration
! urxvt color set
URxvt.multichar_encoding:utf-8
URxvt.background:black
URxvt.foreground:gray75

! scroll set
URxvt.scrollBar:True
URxvt.scrollBar_right:True
URxvt.scrollBar_floating:True
URxvt.scrollstyle:plain
URxvt.scrollWithBuffer:false
URxvt.saveLines:5000

! window geometry set
URxvt.geometry:80x24
URxvt.visualBell:False
URxvt.title:Rxvt

! bg transparent set
URxvt.inheritPixmap: true
URxvt.tintCddolor: white
URxvt.shading: 80

! Tab set
!URxvt.perl-ext-common: default,tabbed

! font set
URxvt.font:9x15
URxvt.boldFont:9x15bold

!urxvt.font:-misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1
!urxvt.boldFont:-misc-fixed-bold-r-normal--15-140-75-75-c-90-iso10646-1

