[Unit]
Description=Redshift
After=display-manager.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/redshift -r -P
Restart=always

[Install]
WantedBy=default.target
